.researchPage {
  display: flex;
  padding: 16px;
  gap: 16px;
}
.researchPage span {
  display: flex;
  margin: 0 10px;
  margin: 10px 0;
}

.researchPage span input {
  box-sizing: border-box;
  padding-left: 5px;
  width: 870px;
  border: 1px solid #cccc;
  border-radius: 5px 0 0 5px;
}
.researchPage span button {
  flex: 1;
}

.researchPage section {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.researchPage section:first-child {
  overflow: hidden;
  overflow-y: scroll;
}

.filter {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.filter img {
  height: 31px;
  box-sizing: border-box;
}
.filter button {
  display: flex;
  align-items: center;
  padding: 0 5px;
  gap: 5px;
  border: 1px solid #cccc;
  height: 38px;
  border-radius: 8px;
}
.wrap2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 286px;
  height: 235px;
  border: 1px solid #dddd;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}
.card img {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 140px;
  border-radius: 8px 8px 0 0;
}
.card p {
  margin-top: 10px;
  font-size: 12px;
}
.BigMap {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.custom-popup .leaflet-popup-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 230px;
  background: white;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0px;
}
.custom-popup .leaflet-popup-content-wrapper h4 {
  font-size: 18px;
  color: #7c4ec4;
}

.custom-popup .leaflet-popup-content-wrapper img {
  height: 162px;
  width: 100%;
  object-fit: cover;
}

.custom-popup .leaflet-popup-content-wrapper p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px;
}

.custom-popup .leaflet-popup-content-wrapper h3 {
  font-size: 13px;
  color: #7777;
  margin: 0px;
  padding: 0px;
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}
.green:hover {
  background-color: green;
}
