.modal-root {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(102, 102, 102, 0.5);
}
.modal {
  display: flex;
  width: 840px;
  height: 542px;
  margin: 185px auto;
}
.leftPart {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100%;
  width: 375px;
}

.leftPart > img {
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 100%;
}

.leftPart span {
  position: absolute;
}

.leftPart span img {
  height: 35px;
  width: 175px;
  margin-bottom: 20px;
}

.leftPart h2 {
  font-size: 32px;
  color: white;
}
.leftPart h3 {
  font-size: 20px;
  color: white;
}

.rigthPart {
  background-color: white;
  flex: 1;
  border-radius: 0px 10px 10px 0px;
}
