.modal-root {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: rgba(102, 102, 102, 0.5);
}
.modallog {
  display: flex;
  width: 840px;
  margin: 185px auto;
  height: fit-content;
}
.modallog main {
  display: flex;
  flex-direction: column;
  height: 215px;
}
.modal-root button {
  all: unset;
}
.modallog .leftPart {
  flex: 1;
  background-image: url("../../assets/img/login-social.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  height: 100;
  width: 375px;
}

.leftPart > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.leftPart span {
  padding-left: 45px;
  display: flex;
  flex-direction: column;
}

.leftPart span img {
  height: 35px;
  width: 175px;
  margin-bottom: 20px;
}

.leftPart h2 {
  font-size: 32px;
  color: white;
}
.leftPart h3 {
  font-size: 20px;
  color: white;
}

.rigthPart {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 465px;
  border-radius: 0px 10px 10px 0px;
}

main > button:first-child {
  text-align: end;
  margin-top: 8px;
  margin-right: 8px;
}

.rigthPart span {
  padding-left: 40px;
  display: flex;
  gap: 40px;
  padding-top: 20px;
}

.rigthPart span button {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.rigthPart nav {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.rigthPart nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #bbbb;
}
.rigthPart p {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.logoSM {
  object-fit: contain;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 50%;
}
.line {
  text-decoration: line-through;
}
.clic {
  border-bottom: 5px solid #9069cd;
}
