@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1090px;
  margin: 0 auto;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
h2 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: bold;
}
